<div class="container">
	<ul id="registration-steps-pro">
		<li class="<?php echo $register_plan; ?>">
			<?php echo Html::link('register/plan', '<div class="registration-step-circle-icon">01</div><div class="registration-step-number">Step 1</div><h5 class="registration-step-title">Choose your plan</h5>')?>
		</li>
		<li class="<?php echo $register_configure; ?>">
			<?php echo Html::link('register/configure', '<div class="registration-step-circle-icon">02</div><div class="registration-step-number">Step 2</div><h5 class="registration-step-title">Configure your preferences</h5>')?>
		</li>
		<li class="<?php echo $register_join; ?>">
			<?php echo Html::link('register/join', '<div class="registration-step-circle-icon">03</div><div class="registration-step-number">Step 3</div><h5 class="registration-step-title">Create your account</h5>')?>
		</li>
	</ul>
	<div class="clearfix"></div>
</div>		