<div class="container">
	<div class="centered-headings-pro pricing-plans-headings">
		<h6>For one low monthly price</h6>
		<h1>Instantly watch TV shows &amp; Movies</h1>
	</div>
</div><!-- close .container -->