
	
		<main id="col-main">
			
			
			
			<div class="flexslider progression-studios-dashboard-slider">
		      <ul class="slides">
					<li class="progression_studios_animate_left">
						<div class="progression-studios-slider-dashboard-image-background" style="background-image:url(http://via.placeholder.com/1920x698);">
							<div class="progression-studios-slider-display-table">
								<div class="progression-studios-slider-vertical-align">
								
									<div class="container">
										
										<a class="progression-studios-slider-play-btn afterglow" href="#VideoLightbox-1"><i class="fas fa-play"></i></a>
										
							         <video id="VideoLightbox-1" poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg?v1" width="960" height="540">
							             <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.mp4" type="video/mp4">
							             <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.webm" type="video/webm">
							         </video>
										
								      <div
								        class="circle-rating-pro"
								        data-value="0.86"
								        data-animation-start-value="0.86"
								        data-size="70"
								        data-thickness="6"
								        data-fill="{
								          &quot;color&quot;: &quot;#42b740&quot;
								        }"
								        data-empty-fill="#def6de"
								        data-reverse="true"
								      ><span style="color:#42b740;">8.6</span></div>
									
										<div class="progression-studios-slider-dashboard-caption-width">
											<div class="progression-studios-slider-caption-align">
												<h6>TV Series</h6>
												<ul class="progression-studios-slider-rating">
													<li>PG-13</li><li>HD</li>
												</ul>
												<h2><a href="dashboard-movie-profile.html">Seven Days in Ibiza</a></h2>
												<ul class="progression-studios-slider-meta">
													<li>15 August, 2016 (UK)</li>
													<li>163 min.</li>
													<li>Documentary</li>
												</ul>
												<p class="progression-studios-slider-description">A sex columnist, Carrie Bradshaw, and her three friends Samantha, Charlotte 
and Miranda explore  Manhattan's dating scene, chronicling the mating habits of 
single New Yorkers.</p>
												
												<a class="btn btn-green-pro btn-slider-pro btn-shadow-pro afterglow" href="#VideoLightbox-1"><i class="fas fa-play"></i> Watch Trailer</a>
												
												<?php View::partial('app/dashboard/more-options')?>

												<div class="clearfix"></div>      
									
												<h5>Starring</h5>
												<ul class="progression-studios-staring-slider">
													<li><a href="#!"><img src="images/demo/user-1.jpg" alt="Starring"></a></li>
													<li><a href="#!"><img src="images/demo/user-2.jpg" alt="Starring"></a></li>	
													<li><a href="#!"><img src="images/demo/user-3.jpg" alt="Starring"></a></li>	
													<li><a href="#!"><img src="images/demo/user-4.jpg" alt="Starring"></a></li>	
													<li><a href="#!"><img src="images/demo/user-5.jpg" alt="Starring"></a></li>	
													<li><a href="#!"><img src="images/demo/user-6.jpg" alt="Starring"></a></li>													
												</ul>
												
											</div><!-- close .progression-studios-slider-caption-align -->
										</div><!-- close .progression-studios-slider-caption-width -->
									
									</div><!-- close .container -->
								
								</div><!-- close .progression-studios-slider-vertical-align -->
							</div><!-- close .progression-studios-slider-display-table -->
						
							<div class="progression-studios-slider-mobile-background-cover"></div>
						</div><!-- close .progression-studios-slider-image-background -->
					</li>
					<li class="progression_studios_animate_in">
						<div class="progression-studios-slider-dashboard-image-background" style="background-image:url(http://via.placeholder.com/1920x698);">
							<div class="progression-studios-slider-display-table">
								<div class="progression-studios-slider-vertical-align">
								
									<div class="container">
										
										<a class="progression-studios-slider-play-btn afterglow" href="#VideoLightbox-2"><i class="fas fa-play"></i></a>
										
							         <video id="VideoLightbox-2" poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg?v1" width="960" height="540">
							             <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.mp4" type="video/mp4">
							             <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.webm" type="video/webm">
							         </video>
										
								      <div
								        class="circle-rating-pro"
								        data-value="0.82"
								        data-animation-start-value="0.82"
								        data-size="70"
								        data-thickness="6"
								        data-fill="{
								          &quot;color&quot;: &quot;#42b740&quot;
								        }"
								        data-empty-fill="#203521"
								        data-reverse="true"
								      ><span style="color:#42b740;">8.2</span></div>
									
										<div class="progression-studios-slider-dashboard-caption-width">
											<div class="progression-studios-slider-caption-align">
												<h6 class="light-fonts-pro">TV Series</h6>
												<ul class="progression-studios-slider-rating">
													<li>PG-13</li><li>HD</li>
												</ul>
												<h2 class="light-fonts-pro"><a href="dashboard-movie-profile.html">Made In America</a></h2>
												<ul class="progression-studios-slider-meta">
													<li>15 August, 2016 (UK)</li>
													<li>163 min.</li>
													<li>Documentary</li>
												</ul>
												<p class="progression-studios-slider-description light-fonts-pro">A sex columnist, Carrie Bradshaw, and her three friends Samantha, Charlotte 
and Miranda explore  Manhattan's dating scene, chronicling the mating habits of 
single New Yorkers.</p>
												
												<a class="btn btn-green-pro btn-slider-pro afterglow" href="#VideoLightbox-2"><i class="fas fa-play"></i> Watch Trailer</a>
												
												<?php View::partial('app/dashboard/more-options')?>

												<div class="clearfix"></div>
												
												<h5 class="light-fonts-pro">Starring</h5>
												<ul class="progression-studios-staring-slider">
													<li><a href="#!"><img src="images/demo/user-1.jpg" alt="Starring"></a></li>
													<li><a href="#!"><img src="images/demo/user-2.jpg" alt="Starring"></a></li>	
													<li><a href="#!"><img src="images/demo/user-3.jpg" alt="Starring"></a></li>	
													<li><a href="#!"><img src="images/demo/user-4.jpg" alt="Starring"></a></li>	
													<li><a href="#!"><img src="images/demo/user-5.jpg" alt="Starring"></a></li>	
													<li><a href="#!"><img src="images/demo/user-6.jpg" alt="Starring"></a></li>													
												</ul>
												
											</div><!-- close .progression-studios-slider-caption-align -->
										</div><!-- close .progression-studios-slider-caption-width -->
									
									</div><!-- close .container -->
								
								</div><!-- close .progression-studios-slider-vertical-align -->
							</div><!-- close .progression-studios-slider-display-table -->
						
							<div class="progression-studios-slider-mobile-background-cover-dark"></div>
						</div><!-- close .progression-studios-slider-image-background -->
					</li>				
				</ul>
			</div><!-- close .progression-studios-slider - See /js/script.js file for options -->

			<?php View::partial('app/dashboard/genres-pro', '', array(
				'list_genres_user' => $list_genres_user,
				'first_genre' => $first_genre,
				'index' => $index
			)) ?>
			
			<?php View::partial('app/dashboard/list-movies', '', array(
				'first_genre' => $first_genre,
				'movies' => $movies,
				'section_demograph' => $section_demograph,
				'path' => $path
			)) ?>


		</main>


		