<div id="content-sidebar-pro" ref="<?php $movie->id?>" ref_data_id="<?php echo $movie->data_id?>">

			
			<div id="content-sidebar-image">
					
				<?php Tag::create('img', '', array(
					'src' => $movie->poster_small,
					'alt' => $movie->title,
				))?>
			</div>
			
			<div class="content-sidebar-section">
				<h2 class="content-sidebar-sub-header"><?php echo $movie->title?></h2>
			</div><!-- close .content-sidebar-section -->
			
			<div class="content-sidebar-section">
				<h4 class="content-sidebar-sub-header">Release Date</h4>
				<div class="content-sidebar-short-description"><?php echo $movie->release_date?></div>
			</div><!-- close .content-sidebar-section -->
			
			<div class="content-sidebar-section">
				<h4 class="content-sidebar-sub-header">Length</h4>
				<div class="content-sidebar-short-description"><?php echo gmdate("H:i:s", $movie->runtime);?></div>
			</div><!-- close .content-sidebar-section -->

			<div class="content-sidebar-section">
				<h4 class="content-sidebar-sub-header">Budget</h4>
				<div class="content-sidebar-short-description">USD <?php echo number_format($movie->budget, 1,'.', ',');?></div>
			</div><!-- close .content-sidebar-section -->

			<div class="content-sidebar-section">
				<h4 class="content-sidebar-sub-header">Revenue</h4>
				<div class="content-sidebar-short-description">USD <?php echo number_format($movie->revenue, 1,'.', ',');?></div>
			</div><!-- close .content-sidebar-section -->

		</div><!-- close #content-sidebar-pro -->
		
		
		<main id="col-main-with-sidebar"  ref="<?php echo $movie->id?>" ref_data_id="<?php echo $movie->data_id?>">
			
			<div id="movie-detail-header-pro" style="background-image:url('<?php echo $movie->poster_big?>')">

				<?php View::partial('app/dashboard/more-options')?>
				
				<a class="movie-detail-header-play-btn afterglow" href="#VideoLightbox-1"><i class="fas fa-play"></i></a>
				
		         <video id="VideoLightbox-1"  poster="<?php echo PUBLIC_PATH; ?>video/View_From_A_Blue_Moon_Trailer-HD.jpg?v1" width="960" height="540">
		             <source src="<?php echo PUBLIC_PATH; ?>video/View_From_A_Blue_Moon_Trailer-576p.mp4" type="video/mp4">
		         </video>
				
				<div id="movie-detail-gradient-pro"></div>
			</div><!-- close #movie-detail-header-pro -->
			
			
			<div id="movie-detail-rating">
				<div class="dashboard-container">
					<div class="row">
						<div class="col-sm">
							<h5>Rate <?php echo $movie->title?></h5>
							
							<div class="rating-pro">

								<?php for ($i=10; $i >=1 ; $i--):?>

									<?php
										$class_selected = "";
										if ($i == $movie->rate){
											$class_selected = "selected";
										}
									?>

									<label class="<?php echo $class_selected?>">
										<input type="radio" name="rating-pro" value="<?php echo $i;?>" title="<?php echo $i;?> stars"> <?php echo $i;?>
									</label>
								<?php endfor;?>
							</div>
							
						</div>
						<div class="col-sm">
							<h6>User Rating</h6>

							<?php 
								if ($movie->vote_average > 5){
									$color_circle = '#42b740';
									$color_fill = '#def6de';
								}else{
									$color_circle = '#ff4141';
									$color_fill = '#ffe1e1';
								}
							?>

					      <div
					        class="circle-rating-pro"
					        data-value="<?php echo ($movie->vote_average / 10);?>"
					        data-animation-start-value="<?php echo ($movie->vote_average / 10);?>"
					        data-size="40"
					        data-thickness="3"
					        data-fill="{
					          &quot;color&quot;: &quot;<?php echo $color_circle?>&quot;
					        }"
					        data-empty-fill="<?php echo $color_fill;?>"
					        data-reverse="true"
					      ><span style="color:<?php echo $color_circle?>;"><?php echo $movie->vote_average;?></span></div>
							<div class="clearfix"></div>
						</div>
					</div><!-- close .row -->
				</div><!-- close .dashboard-container -->
			</div><!-- close #movie-detail-rating -->
			
			<div class="dashboard-container">
				
				
				<div class="movie-details-section">
					<h2>Storyline</h2>
					<p><?php echo $movie->overview?></p>
				</div><!-- close .movie-details-section -->
					
				<div class="movie-details-section">
					<h2>Similar Movies</h2>
					<div class="row">

						<?php foreach($related as $keyMovies => $valueMovies):?>
							<div class="col-12 col-md-6 col-lg-6 col-xl-4">
								<div class="item-listing-container-skrn">
									<?php echo Html::link("dashboard/movie/{$valueMovies->id}", Tag::create('img', '', array(
												'src' => $valueMovies->poster_list,
												'alt' => $valueMovies->title,
												'width' => 390,
												'height' => 552
											), false));
									?>
									<div class="item-listing-text-skrn">
										<div class="item-listing-text-skrn-vertical-align"><h6><a href="dashboard-movie-profile.html"><?php echo $valueMovies->title; ?></a></h6>

											<?php 
												if ($valueMovies->vote_average > 5){
													$color_circle = '#42b740';
													$color_fill = '#def6de';
												}else{
													$color_circle = '#ff4141';
													$color_fill = '#ffe1e1';
												}

											?>
									      <div
									        class="circle-rating-pro"
									        data-value="<?php echo ($valueMovies->vote_average / 10);?>"
									        data-animation-start-value="<?php echo ($valueMovies->vote_average / 10);?>"
									        data-size="32"
									        data-thickness="3"
									        data-fill="{
									          &quot;color&quot;: &quot;<?php echo $color_circle?>&quot;
									        }"
									        data-empty-fill="<?php echo $color_fill;?>"
									        data-reverse="true"
									      ><span style="color:<?php echo $color_circle?>;"><?php echo $valueMovies->vote_average;?></span></div>
										</div><!-- close .item-listing-text-skrn-vertical-align -->
									</div><!-- close .item-listing-text-skrn -->
								</div><!-- close .item-listing-container-skrn -->
							</div><!-- close .col -->
						<?php endforeach;?>					
					
					</div><!-- close .row -->
				
				</div><!-- close .movie-details-section -->
				
			</div><!-- close .dashboard-container -->
		</main>
		
		
</div>