
	
	


    <?php View::partial('app/dashboard/summary', '', array(
        "movies_watched" => $movies_watched,
        "movies_favorites" => $movies_favorites,
        "list_genres_user" => $list_genres_user
    )); ?>
	
		<main id="col-main-with-sidebar">
			
			<div class="dashboard-container">
				
				<ul class="dashboard-sub-menu">

					<li class="<?php echo $current_item_profile?>"><?php echo Html::link("dashboard/profile", "Made for you")?></li>
					<li class="<?php echo $current_item_profile_favorites?>"><?php echo Html::link("dashboard/favorities", "Favorites")?></li>
					<!-- <li><a class="disabled" href="#!">Playlists</a></li>
					<li><a class="disabled" href="#!">Reviews</a></li>
					<li><a class="disabled" href="#!">Friends</a></li> -->
				</ul><!-- close .dashboard-sub-menu -->
				
				
				<div class="row">


					<?php foreach($related as $keyMovies => $valueMovies):?>

						<?php $class_start = 'item-listing-container-skrn';?>

						<?php if (is_numeric($valueMovies->rate)):?>
							<?php $class_start = 'item-listing-container-skrn-start';?>
						<?php endif;?>
						

						<div class="col-12 col-md-6 col-lg-6 col-xl-4">
							<div class="<?php echo $class_start?>">
								<?php echo Html::link("dashboard/movie/{$valueMovies->id}", Tag::create('img', '', array(
											'src' => $valueMovies->poster_list,
											'alt' => $valueMovies->title,
											'width' => 390,
											'height' => 552
										), false));
								?>
								<div class="item-listing-text-skrn">
									<div class="item-listing-text-skrn-vertical-align"><h6><a href="dashboard-movie-profile.html"><?php echo $valueMovies->title; ?></a></h6>

										<?php 
											if ($valueMovies->vote_average > 5){
												$color_circle = '#42b740';
												$color_fill = '#def6de';
											}else{
												$color_circle = '#ff4141';
												$color_fill = '#ffe1e1';
											}

										?>
								      <div
								        class="circle-rating-pro"
								        data-value="<?php echo ($valueMovies->vote_average / 10);?>"
								        data-animation-start-value="<?php echo ($valueMovies->vote_average / 10);?>"
								        data-size="32"
								        data-thickness="3"
								        data-fill="{
								          &quot;color&quot;: &quot;<?php echo $color_circle?>&quot;
								        }"
								        data-empty-fill="<?php echo $color_fill;?>"
								        data-reverse="true"
								      ><span style="color:<?php echo $color_circle?>;"><?php echo $valueMovies->vote_average;?></span></div>
									</div><!-- close .item-listing-text-skrn-vertical-align -->
								</div><!-- close .item-listing-text-skrn -->
							</div><!-- close .item-listing-container-skrn -->
						</div><!-- close .col -->
					<?php endforeach;?>
					
									
				</div><!-- close .row -->
				
				<!-- 
				<ul class="page-numbers">
					<li><a class="previous page-numbers" href="#!"><i class="fas fa-chevron-left"></i></a></li>
					<li><span class="page-numbers current">1</span></li>
					<li><a class="page-numbers" href="#!">2</a></li>
					<li><a class="page-numbers" href="#!">3</a></li>
					<li><a class="page-numbers" href="#!">4</a></li>
					<li><a class="next page-numbers" href="#!"><i class="fas fa-chevron-right"></i></a></li>
				</ul> -->
			</div><!-- close .dashboard-container -->
		</main>