<?php echo View::content() ?>



<div class="flexslider progression-studios-slider">
  <ul class="slides">
        <li class="progression_studios_animate_in">
            <div class="progression-studios-slider-image-background" style="background-image:url(<?php echo PUBLIC_PATH . "img/slider/three.jpg"; ?>);">
                <div class="progression-studios-slider-display-table">
                    <div class="progression-studios-slider-vertical-align">
                        <div class="container">
                            <div class="progression-studios-slider-caption-width">
                                <div class="progression-studios-slider-caption-align">
                                    <h2 class="light-fonts-pro">Welcome to Group 3 ML<span style="color:#3db13d;">.</span></h2>
                                    <h6 class="light-fonts-pro">Watch the largest collection of Movies and TV series anytime anywhere!</h6>
                                    <a class="btn btn-green-pro btn-slider-pro btn-shadow-pro" href="signup-step1.html" role="button">Start Your Free Trial</a>
                                </div><!-- close .progression-studios-slider-caption-align -->
                            </div><!-- close .progression-studios-slider-caption-width -->
                        </div><!-- close .container -->
                    </div><!-- close .progression-studios-slider-vertical-align -->
                </div><!-- close .progression-studios-slider-display-table -->
                <div class="progression-studios-slider-mobile-background-cover"></div>
            </div><!-- close .progression-studios-slider-image-background -->
        </li>
        <li class="progression_studios_animate_right">
            <div class="progression-studios-slider-image-background" style="background-image:url(<?php echo PUBLIC_PATH . "img/slider/one.jpg"; ?>); background-color:#111015;">
                <div class="progression-studios-slider-display-table">
                    <div class="progression-studios-slider-vertical-align">
                        <div class="container">
                            <div class="progression-studios-slider-caption-width">
                                <div class="progression-studios-slider-caption-align">
                                    <h2 class="light-fonts-pro">Central Intelligence</h2>
                                    <h6 class="light-fonts-pro">Let users watch videos on any page via the built-in video player.</h6>
                                    <a class="btn btn-green-pro btn-slider-pro" href="dashboard-home.html" role="button">View The Video Library</a>
                                </div><!-- close .progression-studios-slider-caption-align -->
                            </div><!-- close .progression-studios-slider-caption-width -->
                        </div><!-- close .container -->
                    </div><!-- close .progression-studios-slider-vertical-align -->
                </div><!-- close .progression-studios-slider-display-table -->
            </div><!-- close .progression-studios-slider-image-background -->
        </li>
        <li class="progression_studios_animate_left">
            <div class="progression-studios-slider-image-background" style="background-image:url(<?php echo PUBLIC_PATH . "img/slider/two.jpg"; ?>);">
                <div class="progression-studios-slider-display-table">
                    <div class="progression-studios-slider-vertical-align">
                        
                        <div class="container">
                            
                            <div class="progression-studios-slider-caption-width">
                                <div class="progression-studios-slider-caption-align">
                                    <h2 class="light-fonts-pro">Ultimate Video Theme</h2>
                                    <h6 class="light-fonts-pro">Watch the largest collection of Movies and TV series anytime anywhere!</h6>
                                    <a class="btn btn-green-pro btn-slider-pro btn-shadow-pro" href="signup-step1.html" role="button">Start Your Free Trial</a>
                                </div><!-- close .progression-studios-slider-caption-align -->
                            </div><!-- close .progression-studios-slider-caption-width -->
                        </div><!-- close .container -->
                    </div><!-- close .progression-studios-slider-vertical-align -->
                </div><!-- close .progression-studios-slider-display-table -->
                <div class="progression-studios-slider-mobile-background-cover"></div>
            </div><!-- close .progression-studios-slider-image-background -->
        </li>
    </ul>
</div><!-- close .progression-studios-slider - See /js/script.js file for options -->

<div id="content-pro">
    <div class="container">
        <div class="row">
            <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                <?php echo Html::img("home/home-1.jpg", "Watch in Any Devices", array("class" => "img-fluid"))?>
            </div>
            <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                <h2 class="short-border-bottom">Watch On Any Device</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing nula pellentesquemagna a convallis nula facilisi. Praesent consequat eget elementumconsectetur. Nullam interdum, quam ac sagittis facilisis sapien dolor ipsum consequat ellit tristique senectus</p>
                <div style="height:15px;"></div>
                <p><?php echo Html::link('register/plan', 'Learn More', 'class="btn btn-green-pro" role="button"')?></p>
            </div>
        </div><!-- close .row -->
        <div class="row">
            <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                <h2 class="short-border-bottom">Make Your Own Playlist</h2>
                <p>Curabitur at lobortis leo varius tellus. Phasellus id purus placeratfinibus diam a, feugiat massa. Donec porta orci lectus, ut lacinia risus fringilla nulla facilisi suspendisse eget id justo ac magna finibus dignissim. Integer purus feugiat gravida convalis,</p>
                <div style="height:15px;"></div>
                <p><?php echo Html::link('register/plan', 'Start Watching', 'class="btn btn-green-pro" role="button"')?></p>
            </div>
            <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                <?php echo Html::img("home/home-2.jpg", "Make Your Own Playlist", array("class" => "img-fluid"))?>
            </div>
        </div><!-- close .row -->
        <div class="row">
            <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                <?php echo Html::img("home/home-3.jpg", "Watch in Ultra HD", array("class" => "img-fluid"))?>
            </div>
            <div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
                <h2 class="short-border-bottom">Watch in Ultra HD</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing nula pellentesquemagna a convallis nula facilisi. Praesent consequat eget elementumconsectetur. Nullam interdum, quam ac sagittis facilisis sapien dolor ipsum consequat ellit tristique senectus</p>
                <div style="height:15px;"></div>
                <p><?php echo Html::link('register/plan', 'Start Your Free Trial', 'class="btn btn-green-pro" role="button"')?></p>
            </div>
        </div><!-- close .row -->
        <div style="height:35px;"></div>
        <div class="clearfix"></div>
    </div><!-- close .container -->
    <hr>
    <div class="progression-pricing-section-background">
    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <div style="height:70px;"></div>
                <h2 class="short-border-bottom">Our Plans &amp; Pricing</h2>
            </div>
        </div><!-- close .row -->
        <div style="height:25px;"></div>
        <div class="row">
            <div class="col-md">
                <ul class="checkmark-list-pro">
                    <li>1 month unlimited access!</li>
                    <li>Thousands of TV shows, movies &amp; more.</li>
                </ul>
            </div>
            <div class="col-md">
                <ul class="checkmark-list-pro">
                    <li>Stream on your phone, laptop, tablet or TV.</li>
                    <li>You can even Download & watch offline.</li>
                </ul>
            </div>
            <div class="col-md">
                <ul class="checkmark-list-pro">
                    <li>1 month unlimited access!</li>
                    <li>Thousands of TV shows, movies &amp; more.</li>
                </ul>
            </div>
        </div><!-- close .row -->
        <div class="pricing-table-pro">
            <div class="row">
                <div class="col-md">
                    <div class="pricing-table-col">
                        <h6>FREE TRIAL</h6>
                        <h2>Free</h2>
                        <ul>
                            <li>720p Available</li>
                            <li>Watch on any Device</li>
                            <li>20 Movies and Shows</li>
                            <li>Download Available</li>
                        </ul>
                        <?php echo Html::link('register/configure/1', 'Choose Plan', 'class="btn" role="button"')?>
                    </div><!-- close .pricing-table-col -->
                </div><!-- close .col-md-12 -->
                <div class="col-md">
                    <div class="pricing-table-col pricing-table-col-shadow-pro">
                        <h6>STARTER</h6>
                        <h2><sup>$</sup>10<span> / month</span></h2>
                        <ul>
                            <li>HD Available</li>
                            <li>Watch on any Device</li>
                            <li>70 Movies and Shows</li>
                            <li>Download Available</li>
                        </ul>
                        
                        <?php echo Html::link('register/configure/2', 'Choose Plan', 'class="btn btn-green-pro" role="button"')?>
                    </div><!-- close .pricing-table-col -->
                </div><!-- close .col-md-12 -->
                <div class="col-md">
                    <div class="pricing-table-col">
                        <h6>PREMIUM</h6>
                        <h2><sup>$</sup>14<span> / month</span></h2>
                        <ul>
                            <li>Ultra HD Available</li>
                            <li>Watch on any Device</li>
                            <li>Unlimited Movies and Shows</li>
                            <li>Download Available</li>
                        </ul>
                        <?php echo Html::link('register/configure/3', 'Choose Plan', 'class="btn" role="button"')?>
                    </div><!-- close .pricing-table-col -->
                </div><!-- close .col-md-12 -->
            </div><!-- close .row -->
        </div><!-- close .pricing-table-pro -->
        <div class="clearfix"></div>
    </div><!-- close .container -->
    </div><!-- close .progression-pricing-section-background -->
</div><!-- close #content-pro -->
