<head>
    <meta charset=<?php echo APP_CHARSET ?> >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <?php Tag::css('bootstrap.min') ?>
    <?php Tag::css('style') ?>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">
    <?php Tag::css('icons/fontawesome/css/fontawesome-all.min') ?>
    <?php Tag::css('icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min') ?>
    <?php print Html::includeCss() ?>

    <title><?php echo Config::get('config.application.name')?></title>

</head>