<footer id="footer-pro">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="copyright-text-pro">&copy; Copyright 2019 Group 3 ML. All Rights Reserved</div>
            </div><!-- close .col -->
            <div class="col-md">
                <ul class="social-icons-pro">
                    <li class="facebook-color"><a href="https://www.facebook.com/Maharishi.University/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="twitter-color"><a href="https://twitter.com/maharishiuni?lang=en" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li class="youtube-color"><a href="https://www.youtube.com/channel/UCaYvVQcC-Zk8EFtuTVnp_xg" target="_blank"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div><!-- close .col -->
        </div><!-- close .row -->
    </div><!-- close .container -->
</footer>