<header id="masthead-pro">
    <div class="container">
        
        <nav id="site-navigation-pro">
            <ul class="sf-menu">
                <li class="normal-item-pro <?php echo $current_index?>">
                    <?php echo Html::link('index/index', 'Home')?>
                </li>
                <li class="normal-item-pro <?php echo $current_pricing?>">
                    <?php echo Html::link('register/plan', 'Pricing Plans')?>
                </li>
                <li class="normal-item-pro <?php echo $current_faq?>">
                    <?php echo Html::link('index/faq', 'FAQs')?>
                </li>
            </ul>
        </nav>
        
        <button class="btn btn-header-pro noselect" data-toggle="modal" data-target="#LoginModal" role="button">Sign In</button>
        
        <div id="mobile-bars-icon-pro" class="noselect"><i class="fas fa-bars"></i></div>
        
        <div class="clearfix"></div>
    </div><!-- close .container -->
    <nav id="mobile-navigation-pro">
    
        <ul id="mobile-menu-pro">
            <li>
                <?php echo Html::link('index', 'Home')?>
            </li>
            <li>
                <?php echo Html::link('index/plan', 'Pricing Plans')?>
            </li>
            <li>
                <?php echo Html::link('index/faq', 'FAQs')?>
            </li>
        </ul>
        <div class="clearfix"></div>
        <button class="btn btn-mobile-pro btn-green-pro noselect" data-toggle="modal" data-target="#LoginModal" role="button">Sign In</button>
    </nav>
</header>
