<!-- Modal -->
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
    <button type="button" class="close float-close-pro" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
         <div class="modal-header-pro">
            <h2>Welcome Back</h2>
            <h6>Sign in to your account to continue using Group 3 ML</h6>
         </div>
         <div class="modal-body-pro social-login-modal-body-pro">
             <div class="registration-social-login-container">
                 <?php echo Form::open('login', 'post', array("autocomplete" => "off")); ?>
                    <?php echo Form::hidden("mode", '', 'auth');?>
                     <div class="form-group">
                         <input type="text" class="form-control" id="username" placeholder="Username" name="login">
                     </div>
                     <div class="form-group">
                         <input type="password" class="form-control" id="password" placeholder="Password"  name="password">
                     </div>
                     <div class="form-group">
                         <!-- <button type="button" class="btn btn-green-pro btn-display-block">Sign In</button> -->
                         <?php echo Tag::create('button', 'Sign In', array(
                            'type' => 'submit',
                            'class' => 'btn btn-green-pro btn-display-block'
                         ))?>

                     </div>
                 <?php echo Form::close(); ?>
                 <div class="registration-social-login-or">or</div>
             </div><!-- close .registration-social-login-container -->
             <div class="registration-social-login-options">
                <h6>Sign in with your social account<br>(Comming soon)</h6>
                <div class="social-icon-login facebook-color"><i class="fab fa-facebook-f"></i> Facebook</div>
                <div class="social-icon-login twitter-color"><i class="fab fa-twitter"></i> Twitter</div>
                <div class="social-icon-login google-color"><i class="fab fa-google-plus-g"></i> Google</div>
             </div><!-- close .registration-social-login-options -->
             <div class="clearfix"></div>
      </div><!-- close .modal-body -->
     <?php echo Html::link('register/plan', 'Not a member? <span>Join Today!</span>', 'class="not-a-member-pro"')?>
    </div><!-- close .modal-content -->
  </div><!-- close .modal-dialog -->
</div><!-- close .modal -->