<div id="content-pro">
			
 		<div class="container">
			<div class="centered-headings-pro pricing-plans-headings">
				<h6>For one low monthly price</h6>
				<h1>Instantly watch TV shows &amp; Movies</h1>
			</div>
	</div><!-- close .container -->
	
	<div class="container">
		<ul id="registration-steps-pro">
			<li class="current-menu-item">
				<a href="signup-step1.html">
					<div class="registration-step-circle-icon">01</div>
					<div class="registration-step-number">Step 1</div>
					<h5 class="registration-step-title">Choose your plan</h5>
				</a>
			</li>
			<li>
				<a href="signup-step2.html">
					<div class="registration-step-circle-icon">02</div>
					<div class="registration-step-number">Step 2</div>
					<h5 class="registration-step-title">Create your account</h5>
				</a>
			</li>
			<li>
				<a href="signup-step3.html">
					<div class="registration-step-circle-icon">03</div>
					<div class="registration-step-number">Step 3</div>
					<h5 class="registration-step-title">Billing information</h5>
				</a>
			</li>
			<li>
				<a href="signup-step4.html">
					<div class="registration-step-circle-icon">04</div>
					<div class="registration-step-number">Step 4</div>
					<h5 class="registration-step-title">Welcome to SKRN!</h5>
				</a>
			</li>
		</ul>
		<div class="clearfix"></div>
	</div>
	
	
	<div id="pricing-plans-background-image">
		<div class="container">
				<div class="pricing-plans-page-container">
					
					<div class="row">
						<div class="col-sm">
							<div class="pricing-table-col">
								<h6>FREE TRIAL</h6>
								<h2>Free</h2>
								<ul>
									<li>720p Available</li>
									<li>Watch on any Device</li>
									<li>20 Movies and Shows</li>
									<li>Download Available</li>
								</ul>
								<p><a class="btn" href="signup-step2.html" role="button">Choose Plan</a></p>
							</div><!-- close .pricing-table-col -->
						</div><!-- close .col-md-12 -->
						<div class="col-sm">
							<div class="pricing-table-col">
								<h6>STARTER</h6>
								<h2><sup>$</sup>10<span> / month</span></h2>
								<ul>
									<li>HD Available</li>
									<li>Watch on any Device</li>
									<li>70 Movies and Shows</li>
									<li>Download Available</li>
								</ul>
								<p><a class="btn btn-green-pro" href="signup-step2.html" role="button">Choose Plan</a></p>
							</div><!-- close .pricing-table-col -->
						</div><!-- close .col-md-12 -->
						<div class="col-sm">
							<div class="pricing-table-col">
								<h6>PREMIUM</h6>
								<h2><sup>$</sup>14<span> / month</span></h2>
								<ul>
									<li>Ultra HD Available</li>
									<li>Watch on any Device</li>
									<li>Unlimited Movies and Shows</li>
									<li>Download Available</li>
								</ul>
								<p><a class="btn" href="signup-step2.html" role="button">Choose Plan</a></p>
							</div><!-- close .pricing-table-col -->
						</div><!-- close .col-md-12 -->
					</div><!-- close .row -->
					
				</div><!-- close .pricing-plans-page-container -->
			
		</div><!-- close .container -->
	</div><!-- close #pricing-plans-background-image -->
	
</div>