<div id="content-pro">
	
	<?php View::partial('app/register/title') ?>
	
	<?php View::partial('app/register/menu', '', array(
		'register_plan' => $register_plan,
		'register_join' => $register_join,
		'register_configure' => $register_configure
	)) ?>

	<div id="pricing-plans-background-image">
		<div class="container">
			<div class="registration-steps-page-container">
					<div class="registration-billing-form">
	 				<div class="row">
	 					<div class="col-md">
	 						<div class="jumbotron jumbotron-fluid jumbotron-pro jumbotron-selected">
	 						  <div class="container">
								  <i class="fas fa-check-circle"></i>
	 							  <?php echo Html::img("demo/billing-credit-card.png", "Credit Card")?>
	 							  <h6 class="light-weight-heading">Pay with Credit Card</h6>
	 						  </div>
	 						</div><!-- close .jumbotron -->
	 					</div><!-- close .col-md -->
	 					<div class="col-md">
	 						<div class="jumbotron jumbotron-fluid jumbotron-pro">
	 						  <div class="container">
	 							  <?php echo Html::img("demo/billing-paypal.png", "Pay Pal")?>
	 							  <h6 class="light-weight-heading">Pay with PayPal</h6>
	 						  </div>
	 						</div><!-- close .jumbotron -->
	 					</div><!-- close .col-md -->
	 				</div><!-- close .row -->
					<div class="row">
  					 	<div class="billing-form-pro">
	  					 <form>
	  						 <div class="form-group">
								 <label for="cardholder" class="col-form-label">Cardholder Name:</label>
	  							 <input type="text" class="form-control" id="cardholder">
	  						 </div>
	  						 <div class="form-group">
								 <label for="cardnumber" class="col-form-label">Card Number:</label>
	  							 <input type="text" class="form-control" id="cardnumber">
	  						 </div>
							 	<div class="row adjust-margin-top adjust-margin-bottom">
							 		<div class="col-sm">
    			  						 <div class="form-group">
											 <label for="expire" class="col-form-label">Expiration Date:</label>
    			  							 <input type="text" class="form-control" id="expire" placeholder="MM/YY">
    			  						 </div>
							 		</div>
							 		<div class="col-sm">
    			  						 <div class="form-group">
											 <label for="ccv" class="col-form-label">CVV:</label>
    			  							 <input type="text" class="form-control" id="ccv" placeholder="XXX">
    			  						 </div>
							 		</div>
							 		<div class="col-sm">
    			  						 <div class="form-group">
											 <label for="zip" class="col-form-label">Zip:</label>
    			  							 <input type="text" class="form-control" id="zip" placeholder="00000">
    			  						 </div>
							 		</div>
							 	</div><!-- close .row -->
	  						 <div class="form-group">
								 <div class="billing-plan-container">
								 	<h5>Your Plan: <a href="signup-step1.html">Change plan</a></h5>
									<h3>Premium: <span class="total">$14</span><span class="duration">/month</span></h3>
								 </div><!-- close .billing-plan-container -->
	  							 <a href="signup-step4.html" class="btn btn-green-pro">Sign Up</a>
								<div class="clearfix"></div>
	  						 </div>
	  					 </form>
  					 	</div>
					</div><!-- close .row -->
				</div><!-- close .registration-billing-form -->
			</div><!-- close .registration-steps-page-container -->
		</div>
	</div>
</div><!-- close #content-pro -->