<div id="content-pro">
	
	<?php View::partial('app/register/title') ?>
	
	<?php View::partial('app/register/menu', '', array(
		'register_plan' => $register_plan,
		'register_join' => $register_join,
		'register_configure' => $register_configure
	)) ?>



<div id="pricing-plans-background-image">
	<div class="container">
		<div class="registration-steps-page-container">
			<?php echo Form::open('register/join', 'post', array('id' => 'configure'))?>
				<?php echo Form::hidden("plan", array('id' => 'plan'), $plan_id);?>
				<?php echo Form::hidden("genres", array('id' => 'genres'));?>
				<div class="registration-step-final-padding">
					<h2 class="registration-final-heading">Welcome, Just two more steps to complete your account</h2>
					<div class="registration-genres-step">
						<h5>Pick your preferred Genres:</h5>
						<ul class="registration-genres-choice">

							<?php foreach($list_genres as $key => $value):?>
								<li ref_id=<?php echo $value->id?>>
									<i class="fas fa-check-circle"></i>
									<?php echo Html::img("genres/{$value->name}{$value->icon}", $value->name)?>
									<h6><?php echo $value->name?></h6>
								</li>	
							<?php endforeach;?>
							
						</ul>
						<div class="clearfix"></div>
					</div><!-- close .registration-genres-step -->
					<div class="registration-step-final-footer">
						<!-- <a href="signup-welcome.html" class="btn btn-green-pro">Finish</a> -->

						<?php echo Tag::create('button', 'Create Account', array(
                            'type' => 'submit',
                            'class' => 'btn btn-green-pro'
                         ))?>
						<!-- <a href="signup-welcome.html" class="btn">Skip This Step</a> -->
					</div>
				</div>
			<?php echo Form::close(); ?>
		</div><!-- close .registration-steps-page-container -->
			</div>
		</div>
</div><!-- close #content-pro -->