<div id="content-pro">
	
	<?php View::partial('app/register/title') ?>
	
	<?php View::partial('app/register/menu', '', array(
		'register_plan' => $register_plan,
		'register_join' => $register_join,
		'register_configure' => $register_configure
	)) ?>



	<div id="pricing-plans-background-image">
		<div class="container">
			<div class="registration-steps-page-container">
				<?php echo Form::open('register/register', 'post', array('id' => 'configure', 'class' => 'registration-steps-form', "autocomplete" => "off"))?>
					<?php echo Form::hidden("plan", array('id' => 'plan'), $plan_id);?>
					<?php echo Form::hidden("genres", array('id' => 'genres'), $genres);?>
					 <div class="registration-social-login-container">
						<div class="form-group">
							<label for="full-name" class="col-form-label">Full Name</label>
						 	<input type="text" class="form-control" id="full-name" placeholder="John Doe" name="name">
						</div>
						<div class="form-group">
							<label for="email" class="col-form-label">Email</label>
						 	<input type="text" class="form-control" id="email" placeholder="jondoe@gmail.com" name="email">
						</div>
						<div class="form-group">
						 	<div class="row">
								<div class="col">
									<label for="password" class="col-form-label">Password</label>
									<input type="password" class="form-control" id="password" placeholder="&middot;&middot;&middot;&middot;&middot;&middot;" name="password">
								</div>
								<div class="col">
									<label for="confirm-password" class="col-form-label">&nbsp;</label>
									<input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password"  name="confirm-password">
								</div>
						 	</div>
						</div>
					 	<div class="registration-social-login-or">or</div>
				 	</div><!-- close .registration-social-login-container -->
				 	<div class="registration-social-login-options">
					 	<h6>Sign up with one of your social accounts<br>(comming soon)</h6>
						<div class="social-icon-login facebook-color"><i class="fab fa-facebook-f"></i> Facebook</div>
						<div class="social-icon-login twitter-color"><i class="fab fa-twitter"></i> Twitter</div>
						<div class="social-icon-login google-color"><i class="fab fa-google-plus-g"></i> Google</div>
				 	</div><!-- close .registration-social-login-options -->
				 	<div class="clearfix"></div>
					<div class="form-group last-form-group-continue">
						<div class="row text-center">
							<?php echo Tag::create('button', 'Finish', array(
	                            'type' => 'submit',
	                            'class' => 'btn btn-green-pro'
	                        ))?>
	                    </div>
				 		<div class="clearfix"></div>
				 	</div>
				<?php echo Form::close(); ?>
			</div><!-- close .registration-steps-page-container -->
		</div><!-- close .container -->
	</div><!-- close #pricing-plans-background-image -->
</div><!-- close #content-pro -->