<div id="content-pro">
	
	<?php View::partial('app/register/title') ?>

	<?php View::partial('app/register/menu', '', array(
		'register_plan' => $register_plan,
		'register_join' => $register_join,
		'register_configure' => $register_configure
	)) ?>

	<div id="pricing-plans-background-image">
		<div class="container">
			<div class="pricing-plans-page-container">
				<div class="row">
					<div class="col-sm">
						<div class="pricing-table-col">
							<h6>FREE TRIAL</h6>
							<h2>Free</h2>
							<ul>
								<li>720p Available</li>
								<li>Watch on any Device</li>
								<li>20 Movies and Shows</li>
								<li>Download Available</li>
							</ul>
							<?php echo Html::link('register/configure/1', 'Choose Plan', 'class="btn" role="button"')?>
						</div><!-- close .pricing-table-col -->
					</div><!-- close .col-md-12 -->
					<div class="col-sm">
						<div class="pricing-table-col">
							<h6>STARTER</h6>
							<h2><sup>$</sup>10<span> / month</span></h2>
							<ul>
								<li>HD Available</li>
								<li>Watch on any Device</li>
								<li>70 Movies and Shows</li>
								<li>Download Available</li>
							</ul>
							<?php echo Html::link('register/configure/2', 'Choose Plan', 'class="btn btn-green-pro" role="button"')?>

						</div><!-- close .pricing-table-col -->
					</div><!-- close .col-md-12 -->
					<div class="col-sm">
						<div class="pricing-table-col">
							<h6>PREMIUM</h6>
							<h2><sup>$</sup>14<span> / month</span></h2>
							<ul>
								<li>Ultra HD Available</li>
								<li>Watch on any Device</li>
								<li>Unlimited Movies and Shows</li>
								<li>Download Available</li>
							</ul>
							<?php echo Html::link('register/configure/3', 'Choose Plan', 'class="btn" role="button"')?>
						</div><!-- close .pricing-table-col -->
					</div><!-- close .col-md-12 -->
				</div><!-- close .row -->
			</div><!-- close .pricing-plans-page-container -->
		</div><!-- close .container -->
	</div><!-- close #pricing-plans-background-image -->
</div><!-- close #content-pro -->