<div id="content-pro">
	<div id="pricing-plans-background-image">
		<div class="container">
				<div class="registration-steps-page-container">
					

					<div class="registration-step-final-padding welcome-page-styles">
						
						<div class="centered-headings-pro pricing-plans-headings">
							<h6>Sign up complete!</h6>
							<h1>Welcome to SKRN!</h1>
						</div>
						
						<h6 class="welcome-style-summary">You can now start watching Movies and TV shows.</h6>
						<h6 class="welcome-style-summary">Your next billing information will be sent on your email on July 30, 2017</h6>
						
						<h3 class="welcome-plan-title">Your Plan: <span>Premium</span></h3>
						
						<ul class="welcome-features">
							<li>Ultra HD Available</li>
							<li>70 movies and shows</li>
							<li>Watch on any Device</li>
							<li>Download Available</li>
						</ul>
						<div class="clearfix"></div>
						
						<div class="registration-step-final-footer">
							<button class="btn btn-green-pro" data-toggle="modal" data-target="#LoginModal" role="button">Start Watching</button>
						</div>
						
					</div><!-- close .registration-step-final-padding -->
					 
					
				</div><!-- close .registration-steps-page-container -->
			
		</div><!-- close .container -->
	</div><!-- close #pricing-plans-background-image -->
	
</div>