<?php
/**
 * KumbiaPHP web & app Framework
 *
 * LICENSE
 *
 * This source file is subject to the new BSD license that is bundled
 * with this package in the file LICENSE.
 * 
 * Paginador "digg" para aplicaciones
 *
 * Parametros del paginador:
 *   page: objeto obtenido al invocar al paginador
 *   show: numero de paginas que se mostraran en el paginador
 *   url: url para la accion que efectua la paginacion, por defecto "module/controller/page/"
 *        y se envia por parametro el numero de pagina
 *
 * @category    Kumbia
 * @package     Partials
 * @subpackage  Paginators
 *
 * @copyright  Copyright (c) 2005 - 2019 KumbiaPHP Team (http://www.kumbiaphp.com)
 * @license    https://github.com/KumbiaPHP/KumbiaPHP/blob/master/LICENSE   New BSD License
 */

if (!isset($url)) {
    extract(Router::get());
    $url = "$controller/page";
    if ($module) {
        $url = "$module/$url";
    }
}

if (!isset($show)) {
    $show = 10;
}

$half = floor($show / 2);

//Calculando el inicio de paginador centrado
if ($page->current <= $half) {
    $start = 1;
} elseif (($page->total - $page->current) < $half) {
    $start = $page->total - $show + 1;
    if ($start < 1) {
        $start = 1;
    }

} else {
    $start = $page->current - $half;
}
$last = false;
if ($start == $page->total) {
    if ($start - 1 > 0) {
        $start -= 1;
    }

    $last = true;
}

$items_list_list = [];
?>



<!-- <ul class="page-numbers"> -->
    <?php if ($page->prev == 1) {
    $items_list[] = Html::link("$url/", '<i class="fas fa-chevron-left"></i>', array('class' =>  'previous page-numbers'));
}
//se coloca el link sin número de página para la página 1
elseif ($page->prev) {
    $items_list[] = Html::link("$url/$page->prev/", '<i class="fas fa-chevron-left"></i>', array('class' =>  'previous page-numbers'));
}
?>

    <?php if ($start == 1) { //se coloca el link sin número de página para la página 1
    $start = 2;
    $show -= 1;
    $items_list[] = ($page->current == 1) ? Tag::create("span", '1', array('href' => '#nogo', 'class' =>  'page-numbers current'), false) : Html::link("$url/", '1', array('class' =>  'page-numbers'));
}?>

    <?php for ($i = $start; $i <= $page->total && $i < ($start + $show); $i++): ?>
        <?php $items_list[] = ($i == $page->current) ? Tag::create("span", $i, array('class' =>  'page-numbers current'), false) : Html::link("$url/$i/", $i, array('class' =>  'page-numbers'));?>
    <?php endfor;?>

    <?php if ($page->total > $i): ?>
        <?php if ($page->total > ($i + 1)): ?>
            <?php $items_list[] = "...";?>
        <?php endif?>

        <?php $i = $page->total - 1;?>
        <?php $items_list[] = Html::link("$url/$i/", $i, array('class' =>  'page-numbers'))?>
        <?php $items_list[] = Html::link("$url/$page->total/", $page->total, array('class' =>  'page-numbers'))?>
    <?php elseif ($i == $page->total): ?>
    	<?php if ($last): ?>
        	<?php $items_list[] = Tag::create("span", $i, array('href' => '#nogo', 'class' =>  'page-numbers current'), false)?>
        <?php else: ?>
        	<?php $items_list[] = Html::link("$url/$i/", $i, array('class' =>  'page-numbers'))?>
        <?php endif;?>
    <?php endif;?>

    <?php if ($page->next) {
        $items_list[] = Html::link("$url/$page->next/", '<i class="fas fa-chevron-right"></i>', array('class' => 'next page-numbers'));
    }

echo Html::lists($items_list, 'ul', array('class' => 'page-numbers'));
?>
