<!doctype html>
<html lang="en">

	<?php View::partial('app/common/head') ?>

	<body>
		
		<div id="sidebar-bg">	

			<?php View::partial('app/dashboard/header', '', array(
				'list_genres' => $list_genres,
				'list_countries' => $list_countries
			)); ?>

			<?php View::partial('app/dashboard/sidebar-nav', '', array(
				'select_sidebar_nav' => $select_sidebar_nav,
				'select_sidebar_nav_popular' => $select_sidebar_nav_popular,
				'select_sidebar_nav_top_rated' => $select_sidebar_nav_top_rated,
				'first_genre' => $first_genre
			)) ?>

			<script type="text/javascript">
				PUBLIC_PATH = '<?php echo PUBLIC_PATH; ?>';
			</script>
			
			<?php View::content() ?>

		</div><!-- close #sidebar-bg-->		
        <?php View::partial('app/common/js') ?>
	</body>
</html>