<!doctype html>
<html lang="en">

    <?php View::partial('app/common/head') ?>

    <body>

        <?php View::partial('app/header', '', array(
            "current_index" => $current_index,
            "current_pricing" => $current_pricing,
            "current_faq" =>  $current_faq
        )); ?>

        <?php View::content() ?>

        <?php View::partial('app/footer') ?>

        <a href="#0" id="pro-scroll-top"><i class="fas fa-chevron-up"></i></a>

        <?php View::partial('app/login-modal') ?>
        <?php View::partial('app/common/js') ?>
    </body>
</html>