
<?php if (isset($index) && $index === true):?>
	<ul class="dashboard-genres-pro">
		<?php if (is_null($list_genres_user) === false):?>
			<?php foreach($list_genres_user as $key => $value):?>
				<?php $genre_active = ($first_genre->id == $value->id)? "active" : ""; ?>
				<li class="<?php echo $genre_active;?>">
					<?php echo Html::link("dashboard/movies/{$value->id}/1",
						Html::img("genres/{$value->name}{$value->icon}", $value->name)
					);?>
					<h6><?php echo $value->name;?></h6>
				</li>
			<?php endforeach;?>
		<?php endif;?>
	</ul>
<?php endif;?>