<div class="clearfix"></div>

<div class="dashboard-container">
	

	<?php if (isset($index) && $index === true):?>
		<h4 class="heading-extra-margin-bottom"><?php echo $first_genre->name?></h4>
	<?php else: ?>
		<h4 class="heading-extra-margin-bottom"><?php echo $section_demograph?></h4>
	<?php endif;?>


	<div class="row">
		<?php foreach($movies->items as $keyMovies => $valueMovies):?>
			<div class="col-12 col-md-6 col-lg-4 col-xl-3">

				<?php $class_start = 'item-listing-container-skrn';?>

				<?php if (is_numeric($valueMovies->rate)):?>
					<?php $class_start = 'item-listing-container-skrn-start';?>
				<?php endif;?>
				

				<div class="<?php echo $class_start?>">
					<?php echo Html::link("dashboard/movie/{$valueMovies->id}", Tag::create('img', '', array(
								'src' => $valueMovies->poster_list,
								'alt' => $valueMovies->title,
								'width' => 390,
								'height' => 552
							), false));
					?>
					<div class="item-listing-text-skrn">
						<div class="item-listing-text-skrn-vertical-align"><h6><a href="dashboard-movie-profile.html"><?php echo $valueMovies->title; ?></a></h6>
							<h6><?php echo intval($valueMovies->popularity)?></h6>

							<?php 
								if ($valueMovies->vote_average > 5){
									$color_circle = '#42b740';
									$color_fill = '#def6de';
								}else{
									$color_circle = '#ff4141';
									$color_fill = '#ffe1e1';
								}

							?>
					      <div
					        class="circle-rating-pro"
					        data-value="<?php echo ($valueMovies->vote_average / 10);?>"
					        data-animation-start-value="<?php echo ($valueMovies->vote_average / 10);?>"
					        data-size="32"
					        data-thickness="3"
					        data-fill="{
					          &quot;color&quot;: &quot;<?php echo $color_circle?>&quot;
					        }"
					        data-empty-fill="<?php echo $color_fill;?>"
					        data-reverse="true"
					      ><span style="color:<?php echo $color_circle?>;"><?php echo $valueMovies->vote_average;?></span></div>
						</div><!-- close .item-listing-text-skrn-vertical-align -->
					</div><!-- close .item-listing-text-skrn -->
				</div><!-- close .item-listing-container-skrn -->
			</div><!-- close .col -->
		<?php endforeach;?>
	</div><!-- close .row -->
	
	
	<?php View::partial('paginators/custom', false, array('page' => $movies ,'url' => Router::get('controller_path') . $path)) ?>
</div><!-- close .dashboard-container -->