<div class="progression-studios-slider-more-options">
	<i class="fas fa-ellipsis-h"></i>
	<ul>
		<li><a href="#!" path='favorite'>Add to Favorites</a></li>
		<li><a href="#!" path='watch'>Mark as watched</a></li>
		<li><a href="#!">Share</a></li>
	</ul>
</div>