<div id="header-user-notification">
	<div id="header-user-notification-click" class="noselect">
		<i class="far fa-bell"></i>
		<span class="user-notification-count">3</span>
	</div><!-- close #header-user-profile-click -->
	<div id="header-user-notification-menu">
		<h3>Notifications</h3>
		<div id="header-notification-menu-padding">
				<ul id="header-user-notification-list">
					<li><a href="#!"><img src="images/demo/user-profile-2.jpg" alt="Profile">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. <div class="header-user-notify-time">21 hours ago</div></a></li>
					<li><a href="#!"><img src="images/demo/user-profile-3.jpg" alt="Profile">Donec vitae lacus id arcu molestie mollis. <div class="header-user-notify-time">3 days ago</div></a></li>
					<li><a href="#!"><img src="images/demo/user-profile-4.jpg" alt="Profile">Aenean vitae lectus non purus facilisis imperdiet. <div class="header-user-notify-time">5 days ago</div></a></li>
				</ul>
				<div class="clearfix"></div>
			</div><!-- close #header-user-profile-menu -->
		</div>
</div><!-- close #header-user-notification -->
