<div id="header-user-profile">
	<div id="header-user-profile-click" class="noselect">
		<?php echo Html::gravatar(Session::get('email'))?>
		<div id="header-username"><?php print Session::get('name')?></div><i class="fas fa-angle-down"></i>
	</div><!-- close #header-user-profile-click -->
	<div id="header-user-profile-menu">
		<ul>
			<li><?php echo Html::link('dashboard/profile', '<span class="icon-User"></span>My Profile')?></li>
			<!-- <li><a href="dashboard-favorites.html"><span class="icon-Favorite-Window"></span>My Favorites</a></li>
			<li><a href="dashboard-account.html"><span class="icon-Gears"></span>Account Details</a></li> -->
			<li><a href="#!"><span class="icon-Life-Safer"></span>Help/Support</a></li>
			<li><?php echo Html::link('login/logout', '<span class="icon-Power-3"></span>Log Out')?></li>
		</ul>
	</div><!-- close #header-user-profile-menu -->
</div><!-- close #header-user-profile -->