<nav id="sidebar-nav"><!-- Add class="sticky-sidebar-js" for auto-height sidebar -->
      <ul id="vertical-sidebar-nav" class="sf-menu">
        <li class="normal-item-pro <?php echo $select_sidebar_nav?>">
          <?php echo Html::link("dashboard/movies/{$first_genre->id}/1", '<span class="icon-Reel"></span>Movies')?>
        </li>
        <li class="normal-item-pro <?php echo $select_sidebar_nav_popular?>"">
          <?php echo Html::link("dashboard/popularity", '<span class="icon-Old-TV"></span>Most Popular')?>
        </li>
        <li class="normal-item-pro <?php echo $select_sidebar_nav_top_rated?>"">
          <?php echo Html::link("dashboard/toprated", '<span class="icon-Movie"></span>Top Rated')?>
        </li>
        <li class="normal-item-pro">
          <a href="dashboard-new-arrivals.html"  class="btn disabled">
			<span class="icon-Movie-Ticket"></span>
            New Arrivals
          </a>
        </li>
        <li class="normal-item-pro">
          <a href="dashboard-coming-soon.html" class="btn disabled">
			<span class="icon-Clock"></span>
            Coming Soon
          </a>
        </li>
      </ul>
	<div class="clearfix"></div>
</nav>