<div id="content-sidebar-pro">
	<div id="content-sidebar-info">
		

		<?php echo Html::gravatar(Session::get('email'), Session::get('name'), 400)?>

		
		<div id="profile-sidebar-name">
			<h5><?php print Session::get('name')?></h5>
		</div>
		<div id="profile-sidebar-gradient"></div>
		<a href="dashboard-account.html" class="edit-profile-sidebar"><i class="fas fa-pencil-alt"></i></a>
	</div>
	
	<div class="content-sidebar-section">
		<h3 class="content-sidebar-sub-header">Stats</h3>
		<ul id="profile-watched-stats">
			<li><span><?php echo $movies_watched;?> </span> Watched</li>
			<li><span><?php echo $movies_favorites;?> </span> Favorites</li>
			<li><span style="color: #999 !important">0 </span> Docs</li>
		</ul>
	</div><!-- close .content-sidebar-section -->
			
	<div class="content-sidebar-section">
		<h3 class="content-sidebar-sub-header">Favorite Genres</h3>
		<ul id="profile-favorite-genres">

			<?php if (is_null($list_genres_user) === false):?>
				<?php foreach($list_genres_user as $key => $value):?>
					<li>
						<?php echo Html::link("dashboard/movies/{$value->id}/1",
							Html::img("genres/{$value->name}{$value->icon}", $value->name)
						);?>
					</li>
				<?php endforeach;?>
			<?php endif;?>
		</ul>
		<div class="clearfix"></div>
	</div><!-- close .content-sidebar-section -->
</div><!-- close #content-sidebar-pro -->